<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogforum.dao.mapper.RoleMapper">

    <sql id="RoleColumns">
		temp.id id,
		temp.`name` `name`,
		create_by,
		create_date,
		update_date,
		remarks,
		del_flag,
		p.id pid,
		p.`name` pname,
		controller
    </sql>
    
    <sql id="RoleTemp">
        r.id id,
        'name',
        create_by,
		create_date,
		update_date,
		remarks,
		del_flag,
		permision_id
    </sql>
    
    <resultMap id="RoleResult" type="blogforum.manager.pojo.entity.Role">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="createBy" column="create_by" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
        <result property="remarks" column="remarks" />
        <result property="delFlag" column="del_flag" />
        <collection property="permisions" ofType="com.blogforum.entity.Permision">
            <id property="id" column="pid" />
        	<result property="name" column="pname" />
        	<result property="controller" column="controller" />
        </collection>

    </resultMap>
    
    <!-- 添加角色 -->
	<insert id="insert" parameterType="blogforum.manager.pojo.entity.Role">
		insert into 
		admin_user(
			name,create_by,create_date,update_date,remarks,del_flag
		) 
		values (
			#{name},#{createBy},#{createDate},#{updateDate},#{remarks},#{delFlag}
		)
	</insert>
	

	
	
	<!-- 通过ID查询角色 -->
	<select id="getByID" resultMap="RoleResult">
	    SELECT 
	    	<include refid="RoleColumns"/>
	    FROM (
		    SELECT
		    	<include refid="RoleTemp"/>
			FROM role r
			LEFT JOIN	role_permision rp
			ON
			rp.role_id = r.id
			WHERE
			r.id = #{role_id})temp
		LEFT JOIN permision p
		ON
		temp.permision_id = p.id
	</select>
	
	
	
	

</mapper>