<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogforum.sso.dao.mapper.AreaMapper">

    <!-- 添加角色 -->
	<insert id="save" parameterType="com.blogforum.sso.pojo.entity.Area">
		insert into 
		area(
			name,parent_id
		) 
		values (
			#{name},#{parentId}
		)
	</insert>
</mapper>