<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blogforum.sso.dao.mapper.UserMapper">

    <!-- 添加用户 -->
	<insert id="save" parameterType="com.blogforum.sso.pojo.entity.User">
		insert into 
		user(
			id,
			username,
			password,
			salt,
			role,
			email,
			iphone,
			create_date,
			status
		) 
		values (
			#{id},
			#{username},
			#{password},
			#{salt},
			#{role},
			#{email},
			#{iphone},
			#{createDate},
			#{status}
		)
		
	</insert>
	
	<select id="getUserByPwdName" parameterType="com.blogforum.sso.pojo.entity.User" resultType="com.blogforum.sso.pojo.entity.User">
	    select 
	    <include refid="user"/>
	    from user u
	    where
	    username = #{username} and password = #{password}
	    
	</select>
	
	<select id="getUserByName" parameterType="com.blogforum.sso.pojo.entity.User" resultType="com.blogforum.sso.pojo.entity.User">
	    select 
	    u.salt,
	    <include refid="user"/>
	    from user u
	    where
	    username = #{username}
	    
	</select>
	<select id="getUserByEmailORIphone" parameterType="com.blogforum.sso.pojo.entity.User" resultType="com.blogforum.sso.pojo.entity.User">
	    select
	    <include refid="user"/>
	    from user u
	    where
	    email = #{email} or iphone = #{iphone}
	</select>
	
	
	<sql id="user">
	    u.id,
	    u.username,
	    u.role,
	    u.email,
	    u.iphone,
	    u.create_date createDate,
	    u.update_date updateDate,
	    u.login_date loginDate,
	    u.login_ip loginIp,
	    u.status,
	    u.image,
	    u.update_user updateUser,
	    u.remarks,
	    u.province_location provinceLocation,
	    u.city_location cityLocation,
	    u.birth_province birthProvince,
	    u.birth_city birthCity
	</sql>
</mapper>