<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>博记笔记</title>
    <!--bootstrap-->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- Simplify -->
	<link href="css/simplify.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- ionicons图标 -->
	<link href="https://cdn.bootcss.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
	<!--标签-->
	<link href="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
	
	<!--菜单-->
	<link rel="stylesheet" type="text/css" href="css/basicContext.min.css">
	<link rel="stylesheet" type="text/css" href="css/default.min.css">
</head>
<body class="overflow-hidden">
	<div class="wrapper preload">
		<!--头部-->
		<header class="top-nav">
			<div class="top-nav-inner">
				<div class="nav-header">
					<a href="/" class="brand">
						<i class="fa fa-database"></i><span class="brand-name">博记笔记</span>
					</a>
				</div><!--nav-header-->
				<div class="">
					<button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleLG">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<ul class="nav-notification">	
						<li class="search-list">
							<div class="search-input-wrapper">
								<div class="search-input">
									<input type="text" id="searchnotetext" class="form-control input-sm inline-block" placeholder="搜索笔记">
									<a href="#" class="input-icon text-normal"><i class="ion-ios7-search-strong" id="searchnote"></i></a>
								</div>
							</div>
						</li>
					</ul>
					<button type="button" class="btn btn-info btn-sm simplenote" data-toggle="tooltip" style="margin-left:2%;margin-top:0.6%">新建普通笔记</button>
					<button type="button" class="btn btn-info btn-sm markdownnote" data-toggle="tooltip" style="margin-left:1%;margin-top:0.6%">新建markdown笔记</button>
					<div class="pull-right m-right-sm">
							<div class="user-block hidden-xs">
								<a href="#" id="userToggle" data-toggle="dropdown">
									<img src="$userimage" alt="" class="img-circle inline-block user-profile-pic">
									<div class="user-detail inline-block">
										$username
										<i class="fa fa-angle-down"></i>
									</div>
								</a>
								<div class="panel border dropdown-menu user-panel">
									<div class="panel-body paddingTB-sm">
										<ul>
											<li>
												<a id="usersetting">
													<i class="fa fa-edit fa-lg"></i><span class="m-left-xs">个人设置</span>
												</a>
											</li>
											<li>
												<a id="loginout">
													<i class="fa fa-power-off fa-lg"></i><span class="m-left-xs">退出</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<ul class="nav-notification" style="margin-left:20px">

							</ul>
						</div>
				</div><!--nav-container-->
			</div><!--top-nav-inner-->
		</header>

		<!--下面内容主体-->
		<div id="boxBody" style="width:100%;height:97%">
		
			<!--左侧菜单栏-->
			<aside class="sidebar-menu fixed" id="noteLeft" >
				<div class="sidebar-inner scrollable-sidebar" >
					<div class="main-menu" >
						<ul class="accordion"> 
							<li class="openable bg-palette3 open">
								<i id="addnotebook" class="glyphicon glyphicon-plus" title="新建笔记本" style="position: absolute;top: 13px;width:20px;left:200px;height:20px;color:#edf1f2;z-index:9999;cursor: pointer"></i>
								<a href="#">
									<span class="menu-content block">
										<span class="menu-icon"><i class="glyphicon glyphicon-book"></i></span>
										<span class="text m-left-sm">笔记本</span>
									</span>
								</a>
								<ul  class="submenu bg-palette4">
									<div>
									<li></li>
									<input type="text" class="form-control" id="noteBookSearch" autocomplete="off" data-provide="typeahead" style="width: 210px;height: 30px;margin-left: 10px;margin-top: 3px"  placeholder="搜索笔记本" / >
									
									</div>
									<div  class="tree-view-menu-list font-16 " >
										<hidden id = "selectedBook"/>
										<li class="openable"><a style="" class="showsetting" href="#" ><span class="noteBookName">所有笔记</span></a></li>
										<ul class="font-15" id="listbooks" style="width:auto">
											#foreach($noteBook in $noteBooks)
											<li class="openable">
												<a class="showsetting" href="#" >
													#if($noteBook.haveNode)
													<span  class="glyphicon glyphicon-chevron-right m-right-xs folder-icon"></span>
													#else
													<span class="glyphicon glyphicon-chevron-right m-right-xs folder-icon" style="opacity:0"></span>
													#end
													<span class="noteBookName" parentId=$noteBook.parentId value=$noteBook.id>$noteBook.name</span>
													<span title="设置" class="booksetting glyphicon glyphicon-cog " ></span>	
													<span title="笔记数量" style="float:right;font-size:14px">$noteBook.noteCount</span>
												</a>
												<ul class="subtree"></ul>
											</li>
											#end
										</ul><!--font-15-->
									</div><!--tree-view-menu-list font-16-->
								</ul>
							</li><!--openable bg-palette3-->
						</ul><!--accordion-->
					</div><!--main-menu-->
				</div><!--sidebar-inner scrollable-sidebar-->
			</aside><!--sidebar-menu fixed-->
			<div class="noteBookSplit" id="noteBookSplit" style="left: 240px; background: none;"></div>
			<div id="noteRight" style="padding-left:240px;height:100%">
				<div class="noteInfoList" style="float:left;width:278px;height:100%">
					<div class="smart-widget">
						<div class="ibox-title">
							<span class="badge badge-danger pull-right">10</span>
							最新笔记
						</div>
					</div>
					<div class="noteInfoListItem" style="height:99%">
						<div class="node-body" id ="innerDiv" style="padding-bottom:30px;height:100%">
							<hidden id = "notePageNo" value = $notes.pageNo />
							<hidden id = "notePageSize" value = $notes.pageSize />
							<hidden id = "noteCount" value = $notes.count />
							<hidden id = "noteLastPage" value = $notes.lastPage />
							<hidden id = "selectedNoteId" />
							<ul class="node-body-ul">
							</ul>
							<div id = "loading" >
							  <div class="bounce1"></div>
							  <div class="bounce2"></div>
							  <div class="bounce3"></div>
							</div>
						</div><!--node-body-->
					</div><!--noteInfoListItem-->
				</div><!--noteInfoList-->
				<div class="noteRightInfo" style="margin-left:278px;border:0px;width:auto;height:100%;overflow:auto">

				</div><!--noteRightInfo-->
			</div><!--noteRight-->
			
		</div><!--boxBody-->

	</div><!--wrapper-->



	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--滚动条-->
	<script src="https://cdn.bootcss.com/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>

	<!-- Simplify -->
	<script src="js/simplify/simplify.js"></script>
		<!--菜单-->
	<script src="js/basicContext.min.js" type="text/javascript"></script>
	<!--标签-->
	<script src="https://cdn.bootcss.com/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
	<script src="http://cdn.staticfile.org/layer/2.3/layer.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/3.1.0/bootstrap3-typeahead.min.js"></script>
	<!--老王编辑器-->
	<script src="https://cdn.bootcss.com/wangEditor/3.0.8/wangEditor.min.js"></script>

	<!--markdown编辑器-->
	<script src="js/md/editormd.min.js"></script>
		<!-- 七牛云 -->
	<script src="https://cdn.bootcss.com/qiniu-js/1.0.17.1/qiniu.min.js"></script>

</body>
</html>