<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="js/md/editormd.min.css" />
</head>
<body class="overflow-hidden">
		#if($noteId)
			<hidden id = "noteId" value = $noteId />
		#else
			<hidden id = "noteId" />
		#end
		<div class="noteRightTop" style="height:80px;width:100%">
			<div class="noteTitleTools" style="height:40%;width:100%">
				<div class="noteRightTitle" style="float:left;width:70%;height:100%;margin:5px">
					<input type="text" id="noteTitle" class="noteRightTitileText" placeholder="标题" >
				</div>
				<div class="pull-right" style="padding:6px 6px;width: 20%">
					<div class="saveNote">
						<div id = "saveMd" class="btn btn-info btn-sm"  style="float:left;margin-right:10px"><i class="fa fa-save m-right-xs"></i>保存</div>
					</div>
					<div class="itemHistory">
						<i class="glyphicon glyphicon-time" title="历史版本" style="float:left;margin-right:10px;margin-top:5px"></i>
					</div>
					<div class="itemDelete">
						<i id="delete" class="glyphicon glyphicon-trash" title="删除" style="margin-top:5px" ></i>
					</div>
				</div>
			</div><!--noteTitleTools-->
			<div class="noteTags" >
				<div style="float:left;width:70%;height:50%;margin:2px">
					#if($noteBookName)
						<input type="text" class="noteRightTitileText" name="tags" id="tags" value=$noteBookName />
					#else
						<input type="text" class="noteRightTitileText" name="tags" id="tags"  />
					#end
				</div>
				<div class="posirelative select-out-div" style="width:80px;margin-top:10px">
					<select id="textType" class="m-wrap" style="margin-left:20px">
						<option>原创</option>
						<option>转载</option>
						<option>翻译</option>
					</select>
					<span class="select-hide-span">
                       <b class="select-show-b"></b>
                    </span>
				</div>
			</div><!--noteTags-->
		</div><!--noteRightTop-->
		<div class="noteRightBottom" style="height:90%;width:98%;margin-top:5px" >
		<input type='file' style='display:none' id='updateimage'>
		    <div class="editormd" id="editormd">
		    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc" id="editormdText"></textarea>
		    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
		    <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
		    <textarea class="editormd-html-textarea" name="editorhtml" id="editorhtml"></textarea>       
		    </div>
			
		</div>

	<script src="js/markdownnote.js"></script>
</body>
</html>