<!DOCTYPE html>
<html>
<head>
</head>
<body class="overflow-hidden">
	<div style="height:100%;width:100%;padding-top:20%;padding-left:30%">
		<div style="margin-left:30px;margin-bottom:30px">
			<h3><small>当前笔记本没有笔记 可以选择新建。。。</small></h3>
		</div>
		<div class="btn btn-default simplenote1" style="float:left;margin-right:30px">
			新建普通笔记
		</div>
		<div class="btn btn-default markdownnote1">
			新建markdown笔记
		</div>
	</div>
	
<script type="text/javascript"> 

	$(".simplenote1").click(function(){
		//获取当前选中的笔记本id和name
		var selectedBookId = $("#selectedBook").attr("value");
		if(selectedBookId == null){
			layer.msg("没有选中笔记本   无法创建笔记");
			return;
		}
		var bookName = $("#selectedBook").attr("name");
		var type = "simplenote";
		var noteId = addNote(selectedBookId,bookName,type);
		if(noteId != "0"){
			//先删除所有的选中样式 再增加当前选中的li选中样式
			$(".node-body-ul-li").removeClass("clickTitleNote");
			$("#selectedNoteId").attr("value",noteId);
			//拼接第一次创建的html代码
			var lis = initNoteHtml(bookName,noteId,type);
			//把新加的笔记html代码放到第一个位置
			var html = $(".node-body-ul").html();
			$(".node-body-ul").html(lis+html);
			//修改笔记本的笔记数量+1
			var count = $(".clickBookNote").children('span').eq(3).html();
			//设置选择笔记本id
			$("#selectedNoteId").attr("value",noteId);
			$(".clickBookNote").children('span').eq(3).html(parseInt(count) + 1);
			$(".noteRightInfo").load("simplenote",{noteBookName:bookName,noteBookId:selectedBookId});
		}
	});
	$(".markdownnote1").click(function(){
		var selectedBookId = $("#selectedBook").attr("value");
		if(selectedBookId == null){
			layer.msg("没有选中笔记本   无法创建笔记");
			return;
		}
		var bookName = $("#selectedBook").attr("name");
		
		var type = "markdownnote";
		var noteId = addNote(selectedBookId,bookName,type);
		if(noteId != "0"){
			//先删除所有的选中样式 再增加当前选中的li选中样式
			$(".node-body-ul-li").removeClass("clickTitleNote");
			$("#selectedNoteId").attr("value",noteId);
			//拼接第一次创建的html代码
			var lis = initNoteHtml(bookName,noteId,type);
			//把新加的笔记html代码放到第一个位置
			var html = $(".node-body-ul").html();
			$(".node-body-ul").html(lis+html);
			//修改笔记本的笔记数量+1
			var count = $(".clickBookNote").children('span').eq(3).html();
			//设置选择笔记本id
			$("#selectedNoteId").attr("value",noteId);
			$(".clickBookNote").children('span').eq(3).html(parseInt(count) + 1);
			$(".noteRightInfo").load("markdownnote",{noteBookName:bookName,noteBookId:selectedBookId});
		}
	});
	//添加笔记
	function addNote(noteBookId,noteBookName,type){
		 var noteId = "0";
		 $.ajax({  
	         type : "post",  
	          url : "/note/addNote",  
	          data : {noteBookId:noteBookId,noteBookName:noteBookName,type:type},  
	          async : false,  
	          success : function(data){  
					if(data.status != "200") {
						layer.msg(data.msg);
					}else{
						noteId = data.data.id;
					}
	          }  
	     }); 
		 return noteId;
	}
		//拼接note的html代码
	function initNoteHtml(noteBookName,noteId,type){
		var lis = "<li class='node-body-ul-li clickTitleNote'>"
		lis += "<span class='noteId' value=";
		lis += noteId;
		lis += " type=";
		lis += type;
		lis += " /><div class='item-desc'><p class='item-title'> ";
		lis += "</p><p class='item-info'><i class='fa fa-book'></i><span class='note-notebook'> ";
		if(noteBookName != null){
			lis += noteBookName;
		}
		lis += " </span><i class='fa fa-clock-o'> </i> <span class='updated-time'> ";
		lis += dateToString(new Date());
		lis += "</p><p class='desc'>";
		lis += "</p></div></li>";
		return lis;
		
	}
		//获取时间
	  function dateToString(date){  
		    var year = date.getFullYear();  
		    var month =(date.getMonth() + 1).toString();  
		    var day = (date.getDate()).toString();  
		    var hour = (date.getHours()).toString();  
		    var minute = (date.getMinutes()).toString();  
		    var second = (date.getSeconds()).toString();  
		    if (month.length == 1) {  
		        month = "0" + month;  
		    }  
		    if (day.length == 1) {  
		        day = "0" + day;  
		    }  
		    if (hour.length == 1) {  
		        hour = "0" + hour;  
		    }  
		    if (minute.length == 1) {  
		        minute = "0" + minute;  
		    }  
		    if (second.length == 1) {  
		        second = "0" + second;  
		    }  
		     var dateTime = year + "-" + month + "-" + day +" "+ hour +":"+minute+":"+second;  
		     return dateTime;  
	  }  
</script> 
		

</body>
</html>