<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogforum.notebook.dao.mapper.HistoryNoteMapper">
    
    <sql id="HistoryNoteField">
        hb.id id,
        hb.note_body	noteBody,
        hb.md_note_body	mdNoteBody,
        hb.create_date	createDate,
        hb.update_date	updateDate,
        hb.enclosure	enclosure,
        hb.del_flag	delFlag,
        hb.extjson	extjson,
        hb.label	label,
        hb.text_type	textType,
        hb.note_title_id	 noteTitleId,
        hb.image_context		imageContext,
        hb.user_id			userId,
        hb.note_title_name	noteTitleName,
        hb.note_body_id		noteBodyId,
        hb.last_date		lastDate,
        hb.note_context		noteContext,
        hb.type				type,
        hb.note_book_id		noteBookId,
        hb.note_book_name		noteBookName
    </sql>

    <resultMap type="com.blogforum.notebook.pojo.entity.HistoryNote" id="historyNoteMap">
        <id property="id" column="id" />
        <result property="noteBody" column="noteBody" />
        <result property="mdNoteBody" column="mdNoteBody" />
        <result property="createDate" column="createDate" />
        <result property="updateDate" column="updateDate" />
        <result property="enclosure" column="enclosure" />
        <result property="delFlag" column="delFlag" />
        <result property="extjson" column="extjson" />
        <result property="label" column="label" />
        <result property="textType" column="textType" />
        <result property="noteTitleId" column="noteTitleId"/>
        <result property="imageContext" column="imageContext"/>
        <result property="userId" column="userId"/>
        <result property="noteTitleName" column="noteTitleName"/>
        <result property="noteBodyId" column="noteBodyId"/>
        <result property="lastDate" column="lastDate"/>
        <result property="noteContext" column="noteContext"/>
        <result property="type" column="type"/>
        <result property="noteBookId" column="noteBookId"/>
        <result property="noteBookName" column="noteBookName"/>
    </resultMap>

        
    <!-- 添加笔记 -->
	<insert id="save" parameterType="com.blogforum.notebook.pojo.entity.HistoryNote">
		insert into 
		historynote(
			id,note_body,md_note_body,create_date,update_date,enclosure,del_flag,extjson,label,text_type,note_title_id,image_context,user_id,note_title_name,note_body_id,last_date,note_context,type,note_book_id,note_book_name
		) 
		values (
			#{id},#{noteBody},#{mdNoteBody},#{createDate},#{updateDate},#{enclosure},#{delFlag},#{extjson},#{label},#{textType},#{noteTitleId},#{imageContext},#{userId},#{noteTitleName},#{noteBodyId},#{lastDate},#{noteContext},#{type},#{noteBookId},#{noteBookName}
		)
	</insert>
	
	<!-- 删除笔记 -->
	<update id="delete" parameterType="com.blogforum.notebook.pojo.entity.HistoryNote">
	    update 
	    	historynote
	    set 
	    	update_date = #{updateDate},
	    	del_flag = 'Y'
	    where 
	    	id=#{id}
	    <if test="userId != null and userId != ''">
			AND user_id=#{userId}
		</if>
	</update>
	
	
	<!-- 修改笔记 -->
	<update id="update" parameterType="com.blogforum.notebook.pojo.entity.HistoryNote">
	    update 
	    historynote 
	    set note_body = #{noteBody},md_note_body = #{mdNoteBody},create_date = #{createDate},
	    update_date = #{updateDate},enclosure = #{enclosure},del_flag = #{delFlag},extjson = #{extjson},
	    label = #{label},text_type=#{textType},note_title_id=#{noteTitleId},image_context=#{imageContext},
	    user_id=#{userId},note_title_name=#{noteTitleName},note_body_id=#{noteBodyId},last_date=#{lastDate},
	    note_context=#{noteContext},type=#{type},note_book_id=#{noteBookId},note_book_name=#{noteBookName}
	    where id=#{id}
	    <if test="userId != null and userId != ''">
			AND user_id=#{userId}
		</if>
	</update>
	
	
	<!-- 通过ID查询笔记 -->
	<select id="getById" resultType="com.blogforum.notebook.pojo.entity.HistoryNote" >
	    SELECT 
	    	<include refid="HistoryNoteField"/>
	    FROM 
	    	historynote hb
	    WHERE 
	    	hb.id=#{id} and hb.del_flag='N'
	    <if test="userId != null and userId != ''">
			AND hb.user_id=#{userId}
		</if>
	</select>
	
	<!-- 通过笔记id查询笔记历史记录 -->
	<select id="queryByNoteBodyId" resultMap="historyNoteMap">
	    SELECT 
	    	<include refid="HistoryNoteField"/>
	    FROM 
	    	historynote hb
	    WHERE 
	    	hb.note_body_id=#{noteBodyId} and hb.del_flag='N'
	    <if test="userId != null and userId != ''">
			AND hb.user_id=#{userId}
		</if>
		order by hb.last_date desc
	</select>
	

</mapper>